.reviewers-actions {
    width: 20px;
    z-index: 5;
    margin-left: 10px;
    position: absolute;
    top: 12px;
    left: 750px;
}

a.suggest-reviewers {
    /*background-image: url(../images/pluginIcon.png);*/
    /*background-repeat: no-repeat;*/
    display: block;
    margin-bottom: 3px;
    /*width: 16px;*/
    /*height: 16px;*/
}

th.suggested-reviewer-avatar {
    width: 50px;
}

th.suggested-reviewer-name {
    width: 160px;
}

.suggested-reviewer-reasons ul {
    list-style: none;
    padding-left: 0;
}

.description-spinner {
    display: inline-block;
    width: 14px;
    height: 14px;
    padding-left: 4px;
}

table.aui > tbody > tr > td.suggested-reviewer-controls {
    text-align: right;
    padding-right: 10px;
}

